.row {
    display: flex;
    align-items: stretch;
}

.row .label {
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasta {
    background: #ee9972;
    flex-basis: 35%;
}

.pizza {
    background-color: #f4ce14;
    flex-basis: 50%;
}

.burrito {
    background-color: #495e57;
    flex-basis: 15%;
}