.box {
    background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    flex: 1 1 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 10px;
}


.box3 {
    background-color: blanchedalmond;
    align-self: center;
    flex: 2 1 auto;
}